#chessboard{
    align-self: center;
    display: grid;
    margin: auto;
    border: solid 15px #87421f;

    .row{
        display: grid;
    }

    .row:nth-child(even){

        div{
            cursor: pointer;
        }
        div:nth-child(odd){
            background-color: $primary;
        }
        div:nth-child(even){
            background-color: $secondary;
        }
    }

    .row:nth-child(odd){

        div{
            cursor: pointer;
        }
        div:nth-child(even){
            background-color: $primary;
        }
        div:nth-child(odd){
            background-color: $secondary;
        }
    }
}