@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&display=swap');

$primary:#d3703e;
$secondary: #e6b094;
$dark: #343a40;
$light: #f8f9fa;
$success: #19a974;
$danger: #ff4136;

$header-font: 'Lato', sans-serif;
$body-font: 'Montserrat', sans-serif;