.queue{
    font-family: $header-font;
    color: $light;
    border: 2px solid $light;
    margin: auto;
    padding: 2.5rem 5rem;
    border-radius: 1rem;

    .back-home{
        color: $light;
        font-size: 1.5rem;
        padding: 5px 10px;
        margin: 15px;
        cursor: pointer;
        background: lighten($success, 5);
        border-radius: 5px;
    }

    h2{
        font-size: 2em;
        -webkit-touch-callout: all;
        -webkit-user-select: all;
        -khtml-user-select: all;
        -moz-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }

    .user{
        font-size: 1.5em;
        font-weight: bold;

        label{
            display: block;
            margin: 2rem auto;
        }
        input{
            display: block;
            text-align: center;
            margin: 1rem auto;
            font-size: 1.2rem;
        }
        #ready{
            color: $light;
            font-size: 1.3rem;
            padding: 1rem 1.4rem;
            cursor: pointer;
        }
        #status{
            margin: 2rem auto;
        }

        .readied{
            background-color: $success;
        }
        .readied:hover{
            background-color: $danger;
        }
        .not-readied{
            background-color: $danger;
        }
        .not-readied:hover{
            background-color: $success;
        }
    }
}