.reset{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $dark;
    opacity: 0.8;

    .reset-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        top: 25%;
        background: $light;
        margin: auto;
        width:30%;
        height: 50%;

        .reset-content{
            width: 100%;
            text-align: center;
            color: $dark;
            font-weight: bold;
            line-height: 5rem;
            font-size: 1.5rem;

            h1{
                font-size: 1.5rem;
            }
        }
    }
}