@import 'config.scss';

body{
    background-color: $success;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.App{
    
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    h1{
        font-family: $header-font;
    }
    p{
        font-size: 1.25em;
        font-family: $body-font;
    }
}

.outofplay-white{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: flex-start;
    width: 500px;
    height: 400px;
    margin: 25px;
}

.outofplay-black{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: flex-end;
    width: 500px;
    height: 400px;
    margin: 25px;
}


@import 'chessboard.scss';
@import 'chesspiece.scss';